@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Corinthia";
  src: url("/fonts/Corinthia.ttf") format("truetype");
}
@font-face {
  font-family: "ProximaNovaLight";
  src: url("/fonts/ProximaNova-Light.ttf") format("truetype");
}

$fonttitle: ProximaNovaSemibold;
$fontstyle: Corinthia;
$fontmain: ProximaNovaLight;

* {
  box-sizing: border-box;
}

.wrapper_header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  position: relative;
}
header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  position: absolute;
  img {
    margin-right: 20px;
  }
  .logo-name {
    font-family: $fonttitle;
    font-size: 24px;
    span {
      color: #ff4d87;
    }
  }
}

.wrapper_block1 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  .block1-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    h1 {
      font-family: $fonttitle;
      font-size: 45px;
      width: 80%;
      margin: 0;
    }
    .styletext {
      font-family: $fontstyle;
      color: #ff5b97;
      font-size: 44px;
      margin: 40px 0;
    }
    .text {
      font-family: $fontmain;
      width: 60%;
      font-size: 16px;
      margin-bottom: 40px;
    }
    .button a {
      display: inline-block;
      font-family: $fonttitle;
      padding: 25px 30px;
      border: 1px solid #000;
      text-decoration: none;
      color: #000;
    }
  }
  img {
    max-width: 50%;
  }
}

.wrapper_block2 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  .block2-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    align-items: flex-end;
    text-align: right;
    h1 {
      font-family: $fonttitle;
      font-size: 30px;
      margin-bottom: 80px;
    }
    .styletext {
      font-family: $fontstyle;
      color: #ff5b97;
      font-size: 36px;
      margin: 20px 0;
    }
    .text {
      font-family: $fontmain;
      font-size: 16px;
      width: 70%;
    }
    .button a {
      display: inline-block;
      font-family: $fonttitle;
      padding: 25px 30px;
      border: 1px solid #000;
      text-decoration: none;
      color: #000;
      margin-top: 40px;
    }
  }
  img {
    max-width: 50%;
  }
}
.wrapper_block3 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  .block3-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    h1 {
      font-family: $fonttitle;
      font-size: 30px;
      width: 80%;
      margin-bottom: 80px;
    }
    .styletext {
      font-family: $fontstyle;
      color: #ff5b97;
      font-size: 36px;
      margin-bottom: 30px;
    }
    .text {
      font-family: $fontmain;
      width: 65%;
      font-size: 16px;
    }
    .button a {
      display: inline-block;
      font-family: $fonttitle;
      padding: 25px 30px;
      border: 1px solid #000;
      text-decoration: none;
      color: #000;
      margin-top: 40px;
    }
  }
  img {
    max-width: 50%;
  }
}
.wrapper_block4 {
  max-width: 1200px;
  margin: 0 auto;
}
.block4-name {
  font-family: $fonttitle;
  font-size: 30px;
  text-align: center;
  margin: 100px 0;
}
.wrapper_plan-work {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 70px;
  margin-bottom: 100px;
  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    .work-title {
      font-family: $fonttitle;
      font-size: 15px;
      margin: 20px 0;
    }
    .work-text {
      font-family: $fontmain;
      font-size: 15px;
    }
  }
}
.wrapper_block5 {
  max-width: 1200px;
  margin: 0 auto;
  .block5-name {
    text-align: center;
    font-family: $fonttitle;
    font-size: 30px;
    margin: 100px 0 20px 0;
  }
  .block5-desc {
    text-align: center;
    font-family: $fontmain;
    font-size: 14px;
    margin-bottom: 50px;
  }
  .wrapper_box {
    display: grid;
    grid-template-areas:
      "b1 b5 b2"
      "b3 b5 b4";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 70px;
    margin-bottom: 100px;
    .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 25px;
      .box-title {
        font-family: $fonttitle;
        font-size: 15px;
        margin: 20px 0;
      }
      .box-text {
        font-family: $fontmain;
        font-size: 15px;
      }
    }
    .box1 {
      grid-area: b1;
      align-items: flex-end;
    }
    .box2 {
      grid-area: b2;
      align-items: flex-start;
    }
    .box3 {
      grid-area: b3;
      align-items: flex-end;
      text-align: end;
    }
    .box4 {
      grid-area: b4;
      border: 2px solid #e72867;
      align-items: flex-start;
    }
    .box5 {
      grid-area: b5;
      align-self: center;
      img{
        width: 100%;
        margin: 0;
      }
    }
  }
}
.wrapper_block6 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  .block6-name {
    text-align: center;
    font-family: $fonttitle;
    font-size: 30px;
    margin: 100px 0 70px 0;
  }
  img {
    width: 100%;
  }
}
.wrapper_block7 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  .block7-info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
    h1 {
      font-family: $fonttitle;
      font-size: 30px;
      width: 80%;
      margin: 0;
    }
    .text {
      font-family: $fontmain;
      width: 70%;
      font-size: 16px;
      margin: 50px 0;
    }
    form {
      input {
        display: block;
      }
      input[type="text"],
      input[type="tel"] {
        border: none;
        border-bottom: 1px solid #868686;
        padding: 10px;
        margin-bottom: 30px;
        font-family: $fontmain;
        font-size: 14px;
      }
      .btn-tertiary {
        display: inline-block;
        margin-bottom: 30px;
        cursor: pointer;
        color: #868686;
        font-family: $fontmain;
        font-size: 14px;
        padding: 10px;
      }
      .btn-tertiary:hover,
      .btn-tertiary:focus {
        color: #000;
      }
      .input-file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
    }
    #button {
      display: block;
      font-family: $fonttitle;
      padding: 25px 40px;
      border: none;
      text-decoration: none;
      color: #fff;
      background-color: #e22462;
      cursor: pointer;
    }
  }
  img {
    max-width: 50%;
  }
}

@media screen and (min-width: 100px) and (max-width: 1199px) {
  .wrapper_block1,
  .wrapper_block2,
  .wrapper_block3 {
    .block1-info,
    .block2-info,
    .block3-info {
      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .styletext {
        font-size: 30px;
        margin: 10px 0;
      }
      .text {
        width: 90%;
        font-size: 14px;
      }
    }
  }

  .block4-name {
    margin: 50px 0;
  }

  .wrapper_plan-work {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 50px;
  }
  .wrapper_block5 {
    .block5-name {
      margin: 50px 0 20px 0;
    }
    .wrapper_box {
      grid-template-areas:
        "b5 b5"
        "b1 b2"
        "b3 b4";
      grid-template-rows: 200px 200px 200px;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
      margin-bottom: 50px;
      .box4 {
        border: none;
      }
    }
  }
  .wrapper_block6 {
    .block6-name {
      margin: 50px 0;
    }
  }
  .wrapper_block7 {
    .block7-info {
      h1 {
        width: 90%;
        font-size: 24px;
      }
      .text {
        font-size: 14px;
        width: 90%;
        margin: 20px 0;
      }
      form {
        input[type="text"],
        input[type="tel"] {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 768px) {
  header {
    position: relative;
    margin-bottom: 20px;
  }
  .wrapper_block1,
  .wrapper_block2,
  .wrapper_block3,
  .wrapper_block7 {
    display: block;
    .block1-info,
    .block2-info,
    .block3-info,
    .block7-info {
      max-width: unset;
      align-items: center;
      text-align: center;
    }
    img {
      max-width: 100%;
      margin: 20px 0;
    }
  }
  .wrapper_block2 {
    display: none;
  }
  .wrapper_block5 {
    .wrapper_box {
      grid-template-areas:
        "b5 b5"
        "b1 b2"
        "b3 b4";
      grid-template-rows: 200px 200px 200px;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
      margin-bottom: 50px;
      .box {
        align-items: center;
        text-align: center;
      }
      .box4 {
        border: none;
      }
    }
  }
  .wrapper_block7 {
    margin-bottom: 20px;
    .block7-info {
      form {
        img {
          margin: 0;
        }
      }
    }
    img {
      display: none;
    }
  }
}

@media screen and (min-width: 100px) and (max-width: 425px) {
  .wrapper_block5 {
    .wrapper_box {
      grid-template-areas:
        "b5"
        "b1"
        "b2"
        "b3"
        "b4";
      grid-template-rows: repeat(5, 200px);
      grid-template-columns: 250px;
      justify-content: center;
      gap: 25px;
      margin-bottom: 50px;
      .box {
        align-items: center;
        text-align: center;
      }
      .box4 {
        border: none;
      }
    }
  }
}
